<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <title> Blog App </title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" > 
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css"> 
    </head>
    <body> 
        <div class="ui fixed inverted menu"> 
            <div class="ui container"> 
                <div class="header item">
                    <a  href="/blogs/" > <i class="id card outline  icon"></i>Blog Site</a> 
                </div>
                <a href="/" class="item navs">Home</a> 
                <a href="/blogs/new" class="item navs">New Post</a> 
            </div> 
        </div> 

            



        
    

